@model CodeFirst.Models.Annoucement

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Title</h1>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            @Html.Raw(@Model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updatetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updatetime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Visits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Visits)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
