@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src='//cdn.tinymce.com/4/tinymce.min.js'></script>
    <script>
        tinymce.init({
            selector: '#mytextarea'
        });
    </script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Company news", "Index", "Annoucements")</li>
                        if (this.User.IsInRole("admin"))
                        {
                            <li>@Html.ActionLink("Add news", "Create", "Annoucements")</li>
                            <li>@Html.ActionLink("Manage employees", "Index", "ApplicationUsers")</li>
                            <li>@Html.ActionLink("Manage orders", "Index", "Orders")</li>
                        }

                        if (this.User.IsInRole("employee"))
                        {
                            <li>@Html.ActionLink("My profile", "Details", "ApplicationUsers", new { id = User.Identity.GetUserId() }, null)</li>
                            <li>@Html.ActionLink("My orders", "IndexForEmployee", "Orders")</li>
                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Created by Meng XUE</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
