@model IEnumerable<CodeFirst.Models.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p></p>
<p>
    @Html.ActionLink("New Order", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            Product
        </th>
        <th>
            Quantity
        </th>
        <th>
            Price
        </th>
        <th>
            Total
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmitTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApproveTime)
        </th>
        <th>
            Approved
        </th>
    </tr>

    @foreach (var item in Model)
    {
        string style = "";
        string result = "Not yet";

        if (item.ApproveTime != null)
        {
            style = "style=color:green";
            result = "Yes";
        }

        <tr @style>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmitTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApproveTime)
            </td>
            <td>
                @result
        </td>
    </tr>
    }

</table>
